* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Sedan", serif;
    /* font-family: Arial, sans-serif; */
    /* font-family: "Gill Sans Extrabold", sans-serif; */

  }
  .parentdiv{
    overflow: hidden;
  }
  .sidediv {
    width: 250px;
    height: 300px;
    border: solid 2px rgb(133, 189, 21);
    border-radius: 20px;
    margin-left: 60px;
    padding: 15px;
    line-height: 30px;
    margin-top: 50px;
    /* display: inline-block; */
    float: left;
  }
 .fattoush{
    font-size: 26px;
    font-weight: 800 ;
    padding-left: 90px;
    line-height: 10px;
 }
 .cooktime{
    /* padding-left: 10px; */
    font-weight: 600;
 }
 .fa-clock{
    padding-left: 50px;
 }
 .fa-utensils{
    padding-left: 25px;
 }
 .chinaANDcook{
    /* background-color: red; */
    margin-left: 30px;
    margin-top: 30px;
    width: 350px;
    height: auto;
    margin-bottom: 40px;

 }
 .NuFacts{
    font-size:25px ;
    font-weight: 700;

 }
 .info{
    font-size:15px ;
    font-weight: 600;
 }
 .infoNums1{
    padding-left: 50px;
 }
 .infoNums2{
    padding-left: 80px;
 }
 .infoNums3{
    padding-left: 100px;
 }
 .infoNums4{
    padding-left: 105px;
 }
 .infoNums5{
    padding-left: 70px;
 }
.IMGparent{
    width:450px;
    height: auto;
    /* background-color: red; */
    float: left;
    margin-left: 450px;
    /* margin-bottom: 1000px; */
}

.fatIMG{
    width: 100%;
    /* padding-bottom: 150px; */
}
.downWords{
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
    padding-top: 15px;
}
b{
    font-weight: 800;
    font-size:20px ;
}
.IngredParent{
    width:1000px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 1px rgb(10, 10, 10);
    margin-left: 50px;
    margin-top: 50px;

}
.ingHeader{
    font-size: 30px;
    font-weight: 800;
    line-height: 35px;
    padding-left: 15px;
}
.fa-circle-check{
    padding-top:50px;
    padding-left: 15px;
}
.firstactive{
    color: rgb(133, 189, 21);
    cursor: pointer;
}
.firstactive:hover{
    color: #000;
    transition: 200ms;
}
.firstactive2{
    color: black;
    cursor: pointer;
   
}
.firstactive2:hover{
    color: rgb(133, 189, 21);
    transition: 200ms;
}
.cookingSteps{
    width:1000px;
    height: auto;
    /* background-color: red; */
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 1px rgb(10, 10, 10);
    margin-left: 50px;
    margin-top: 50px;
}
.headOfSteps{
    padding-left: 15px;
    font-weight: 800;
    font-size: 30px;
    padding-bottom: 30px;
}
.stepsChilds{
    /* background-color: blue; */
    margin-bottom: 30px;
}
.fa-circle{
    padding-left: 15px;

}
.headforchilds{
    font-weight: 700;
    font-size: 20px;
}
.step{
    line-height: 25px;
    padding-left: 15px;
    font-weight: 500;
}
.numofsteps{
    color: rgb(133, 189, 21);
    font-size: 20px;
}
