<app-header></app-header>
<link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <section class="FoodHeader">
        <span class="fattoush">Fattoush Salad</span>
        <i class="fa-regular fa-heart"></i>
        <br />
        <div class="chinaANDcook">
          <i class="fa-regular fa-clock"></i>
          <span class="cooktime">Cook Time :15 min</span>
          <i class="fa-solid fa-utensils"> :</i>
          <span class="cooktime">China</span>
        </div>
      </section>
  
      <section>
          <div class="parentdiv">
  
          
        <div class="sidediv">
          <p class="NuFacts">Nutrition Facts</p>
          <br />
          <span class="info">Total Calories </span>
          <span class="infoNums1">220Kcal</span>
          <hr />
          <span class="info">Total Fats</span>
          <span class="infoNums2">10.7 g</span>
          <hr />
          <span class="info">Protien</span>
          <span class="infoNums3">9 g</span>
          <hr />
          <span class="info">Carbs</span>
          <span class="infoNums4">22.2 g</span>
          <hr />
          <span class="info">Cohlestrol</span>
          <span class="infoNums5">37.4 mg</span>
          <hr />
        </div>
        <div class="IMGparent">
              <img class="fatIMG" src="../../assets/images/fatotushSalad.png" alt="">
        </div>
      </div>
      </section>
  
      <section class="down">
          <div class="downWords">
          <p><b> ABOUT MEAL :</b>  Fattoush salad is a vibrant Levantine dish, a medley of fresh vegetables, herbs, and crispy pita bread. Typically, it includes tomatoes, cucumbers, radishes, and lettuce, dressed with a tangy mix of lemon juice, olive oil, and sumac. Its defining feature is toasted or fried pieces of pita bread, adding crunch and flavor. Often garnished with parsley and mint, it offers a refreshing contrast of textures and tastes. Fattoush is both nutritious and flavorful, making it a beloved staple in Middle Eastern cuisine, perfect for a light and satisfying meal.</p>
      </div>
      </section>
  
  
  
      <section class="SecondContent">
          <div class="IngredParent">
              <p class="ingHeader">Ingredients</p>
              <i class="fa-solid fa-circle-check firstactive"></i>
              <span>
                  Sumac-dusted pita, crisp lettuce, juicy tomatoes—a vibrant blend beckons, enticing the senses with its colorful array of ingredients.</span>
              <hr>
              <i class="fa-solid fa-circle-check firstactive2"></i>
              <span>Cucumber crunch, tart radishes, a delightful dance of textures and flavors that invigorates the palate.</span>
              <hr>
              <i class="fa-solid fa-circle-check firstactive2"></i>
              <span>Tangy sumac dressing, olive oil, lemon, garlic zest—zingy harmony ignites, infusing every bite with a burst of Mediterranean zest.</span>
              <hr>
              <i class="fa-solid fa-circle-check firstactive2"></i>
              <span>umptuous feta crumbles, vibrant parsley—flavor crescendo, richness unfolds, enhancing each mouthful with a symphony of savory .</span>
              <hr>
              <i class="fa-solid fa-circle-check firstactive2"></i>
              <span>In the bowl of fattoush salad, each element plays its part, creating a culinary masterpiece that celebrates the essence of freshness.</span>
              <hr>
          </div>
  
  
      </section>
  
  
  <section>
      <div class="cookingSteps">
          <p class="headOfSteps">Cooking Steps</p>
  
          <div class="stepsChilds">
              <i class="fa-regular fa-circle"></i>
              <i class="fa-solid fa-1 numofsteps"> . </i>
                  <span class="headforchilds">Lorem ipsum dolor sit.</span>
                  <p class="step">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tempore dolor sint, delectus quis quasi velit tempora amet quia sequi asperiores placeat dolorum repudiandae voluptates architecto, dolorem temporibus quibusdam provident? Aliquid, eos? Omnis molestiae dolore cum, mollitia ullam alias ea eius ducimus optio, hic, excepturi assumenda distinctio quod ipsam corporis.</p>
              <hr>
  
  
          </div>
          <div class="stepsChilds">
              <i class="fa-regular fa-circle"></i>
              <i class="fa-solid fa-2 numofsteps "> . </i>
                  <span class="headforchilds">Lorem ipsum dolor sit.</span>
                  <p class="step">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tempore dolor sint, delectus quis quasi velit tempora amet quia sequi asperiores placeat dolorum repudiandae voluptates architecto, dolorem temporibus quibusdam provident? Aliquid, eos? Omnis molestiae dolore cum, mollitia ullam alias ea eius ducimus optio, hic, excepturi assumenda distinctio quod ipsam corporis.</p>
              <hr>
  
          </div>
          <div class="stepsChilds">
              <i class="fa-regular fa-circle"></i>
              <i class="fa-solid fa-3 numofsteps "> . </i>
                  <span class="headforchilds">Lorem ipsum dolor sit.</span>
                  <p class="step">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur tempore dolor sint, delectus quis quasi velit tempora amet quia sequi asperiores placeat dolorum repudiandae voluptates architecto, dolorem temporibus quibusdam provident? Aliquid, eos? Omnis molestiae dolore cum, mollitia ullam alias ea eius ducimus optio, hic, excepturi assumenda distinctio quod ipsam corporis.</p>
              <hr>
  
          </div>
  
  
  
      </div>
  
  </section> 