* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* font-family: Arial, sans-serif; */
    font-family: "Sedan", serif;
  }
  .body {
    display: flex;
  }
  .sidediv {
    width: 250px;
    height: fit-content;
    border: solid 1px rgb(133, 189, 21);
    border-radius: 15px;
    margin-left: 15px;
    padding: 15px;
    line-height: 30px;
  }
  .parentofFood {
    overflow: auto;
    margin-bottom: 10px;
  }
  .filter {
    font-weight: 700;
    font-size: 20px;
  }
  .fa-sliders {
    padding-left: 130px;
    cursor: pointer;
  }
  .fa-arrow-down {
    padding-left: 130px;
    cursor: pointer;
    color: rgb(133, 189, 21);
  }
  h4 {
    cursor: pointer;
  }
  .arrowIngred {
    padding-left: 100px;
  }
  .itemsFood {
    width: 100px;
    height: 30px;
    margin-left: 5px;
    padding-left: 10px;
    text-align: center;
    float: left;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 30px;
    background-color: rgb(227, 221, 221);
  }
  .food {
    font-size: 15px;
  }
  .prepare {
    margin-bottom: 10px;
  }
  .labelPrepare {
    font-weight: 700;
  }
  .minInput {
    width: 200px;
    height: 25px;
    margin-left: 12px;
    border: 2px solid rgb(133, 189, 21);
  }
  .apply {
    width: 160px;
    height: 40px;
    border-color: rgb(133, 189, 21);
    border-style: solid;
  
    font-weight: 200;
    cursor: pointer;
    color: white;
    background-color: rgb(133, 189, 21);
    border-radius: 25px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .apply:hover {
    background-color: #ffff;
    color: #000;
  }
  
  .activee {
    background-color: rgb(133, 189, 21);
    color: white;
  }
  .rigth {
    width: calc(100% - 250px);
    padding: 10px 80px;
  }
  
  .searchContent {
    width: 70%;
    position: relative;
    margin-bottom: 50px;
  }
  .search {
    width: 100%;
    height: 50px;
  
    /* margin-left: 70px; */
    display: block;
    padding: 5px 70px 5px 10px;
    font-size: 20px;
    border-radius: 18px;
    border: 1px solid rgb(133, 189, 21);
  }
  .SearchIconDiv {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    background-color: rgb(133, 189, 21);
    /* display: block; */
    /* margin: auto; */
    position: absolute;
    top: 5px;
    text-align: center;
    right: 20px;
  }
  .searchIcon {
    /* line-height: 20px; */
    color: #ffff;
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .childs {
    width: 250px;
    height:300px;
    cursor: pointer;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 15px 1px rgb(10, 10, 10);
  }
  .images{
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 10px;
  
  }
  .meal1{
      width: 100%;
      border-radius: 20px;
      object-fit: fill;
      height: 130px;
  }
  .para{
      padding-top: 25px;
      font-size:15px;
      padding-left: 15px;
      font-weight: 600;
  }
  .mins{
      font-size: 12px;
      color: red;
      padding-top: 15px;
      padding-left: 15px;
  }
  .rate{
    font-size: 18px;
    font-weight: 600;
    display: inline;
    margin-left: 150px;
    line-height: 20px;
  }
  .fa-star{
    font-size: 20px;
    color: yellow;
    /* margin-left: 5px; */
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #19a34e;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
     top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
  }